<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 text-center">

        <!-- Content -->

        <table class="h-100 w-100">
          <tr>
            <td class="align-middle">
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>

              <a class="vk-ic">
                <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
            </td>
          </tr>
        </table>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Разработчикам</h5>

        <ul class="list-unstyled">
          <li>
            <a data-toggle="modal" data-target="#API_modal">API</a>
          </li>
          <li>
            <a href="https://github.com/CoderMan2016/cuturl/tree/master" target="_blank">GitHub</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">FAQ</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Почему безопасно?</a>
          </li>
          <li>
            <a href="#!">Задать вопрос</a>
          </li>
          <li>
            <a href="#!">Тех. поддержка</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> CutUrl.ru</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
