<!-- API Modal -->
<div class="modal fade top" id="API_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-fluid modal-full-height modal-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-code fa-lg"></i> Использование API</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Используйте GET запрос такого типа:</p>
        <blockquote class="blockquote bq-primary">
          <p>https://cuturl.ru/api?url=your_url</p>
        </blockquote>
        <p>Будет возвращен JSON объект со сокращенной ссылкой:</p>
        <blockquote class="blockquote bq-primary">
          <p>{'url': 'XXXX'}</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
